{% extends "base.html" %}

{% block content %}
    <form action="/sources" method="post">
        <div>
            <label for="items">Items:</label>
            <input type="text" id="items" name="items" placeholder="Items" required autofocus>
        </div>
        <div>
            <label for="no_items">Number of Items:</label>
            <input type="number" id="no_items" name="no_items" placeholder="no_items">
        </div>
        <div>


        <div>
            <label for="sound">Sound:</label>
            <input type="text" id="sound" name="sound_name" placeholder="sound_name">
        </div>

        <div>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" placeholder="genre">
        </div>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>

        <button type="submit">Add Sound</button>
    </form>
{% endblock %}