
{% extends "base.html" %}

{% block content %}

{% for source in all_sources %}
<div class="source">
    <div class="content">
      {{source.sound.sound_name}} ({{source.sound.genre}})
      <div class="title">
        {{source.items}}
        <span class="pages">{{source.no_items}} items used</span>
      </div>
      <div class="buttons">
        <form class="delete-form" action="/sources/{{source.id}}/delete" method="POST">
        
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="border-radius: 50px; color: red; aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}